body {
  background: linear-gradient(107.32deg, #804BD8 5.53%, #544AD8);
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
}

.c1 {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-column: 1 / -1;
}

.container > div {
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 2px solid #fe7A71;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Выражение .container > div {} выбирает только дочерние элементы элемента с классом .container, в то время как выражение .container div {} без знака «>» выбирает любого потомка, а не только непосредственных потомков.*/