body {
  background: linear-gradient(107.32deg, #804BD8 5.53%, #544AD8);
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1f 1fr 1fr;
  grid-template-areas: 
    'h h h' 
    's b b' 
    'f f f';
}
.header {
  grid-area: h;
}
.body {
  grid-area: b;
}
.sidebar {
  grid-area: s;
}
.footer {
  grid-area: f;
}

.container > div {
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 2px solid #fe7A71;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Выражение .container > div {} выбирает только дочерние элементы элемента с классом .container, в то время как выражение .container div {} без знака «>» выбирает любого потомка, а не только непосредственных потомков.*/