body {
  background: linear-gradient(107.32deg, #804BD8 5.53%, #544AD8);
}

.container {
  display: grid;
  gap: 10px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: [start]1fr [middle]1fr 1fr[end];
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.c1 {
  /* grid-column: 1 / span 3; */
  /* grid-column: 1 / 3; */
  grid-column-start: middle;
  grid-column-end: end;
}

.container > div {
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 2px solid #fe7A71;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Выражение .container > div {} выбирает только дочерние элементы элемента с классом .container, в то время как выражение .container div {} без знака «>» выбирает любого потомка, а не только непосредственных потомков.*/